ipython
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-http-over-ws
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-git
jupyterlab-server
matplotlib
nbconvert
nbdime
nbformat
numba
numpy
numpydoc
pandas
pandas-profiling
pyGSTi[complete]
qiskit
qiskit-aer
qiskit-aqua
qiskit-chemistry
qiskit-ibmq-provider
qiskit-ignis
qiskit-terra
scikit-image
scikit-learn
scipy
sympy
torch
torchvision
virtualenv
